body {
  font-family: 'Overpass', sans-serif;
  font-weight: normal;
  font-size: 100%;
  color: #1b262c;
  margin: 0;
  background-color: #e2e2e2;
}

h1 {
  margin-left: 24px;
}
header {
  background-color: rgb(0, 128, 156);
  padding-block: 23px;
  padding-inline: 13px;
}
a {
  color: black;
  text-decoration: none;
}
.boton_usuario {
  margin-top: 35px;
  margin-inline: 5px;
  display: flex;
  border: none;
  background-color: rgb(50, 150, 238);
  color: white;
  padding: 10px;
  border-radius: 5px;
}
.boton_usuario.cancel {
  background-color: #888;
  color: #1b262c;
}
.btn-primary {
  background-color: transparent;
  border: none;
}
nav {
  display: flex;
  margin-right: 1600px;
}
main {
  overflow: scroll;
  padding: 20px;
}
form {
  margin-top: 20px;
}
footer {
  text-align: center;
  background-color: rgb(0, 128, 156);
  height: 70px;
  margin-top: 120px;
}
nav .container {
  display: inline-flex;
}
.botona {
  color: rgb(0, 128, 156);
}
p {
  font-size: 12px;
  color: red;
}
.fot {
  background-color: rgb(0, 128, 156);
  height: 70px;
  margin-top: 550px;
  text-align: center;
}
.form-floating {
  margin-top: 20px;
  margin-left: 17px;
}
label {
  margin-top: 17px;
}
.gg {
  margin-left: 17px;
}
.acordion {
  margin-top: 66px;
  text-overflow: clip;
}
.form-select {
  width: 350px;
  padding: 17px;
  margin-top: 40px;
  margin-left: 23px;
}
.ordenar-inf{
  display: block;
}
.formulario {
  margin-top: 60px;
}
.btn-outline-info {
  margin-top: 60px;
  margin-left: 35px;
  width: 130px;
}

.text {
  text-align: center;
  margin-top: 25px;
}

.vista-titulo {
  margin-inline: 34px;
  margin-top: 26px;
  padding-bottom: 10px;
  
  border-bottom: solid 1px rgb(196, 196, 196);
}

.form-control {
  width: 350px;
  margin-top: 20px;
}
.form-control:disabled{
  color: #888;
}
.table-striped {
  margin-top: 22px;
}

.btn-outline-success {
  margin-top: 60px;
  margin-left: 700px;
  border-color: rgb(0, 128, 156);
}

.estado{
  margin: 5px;
  padding: 10px;
  border-radius: 5px;
  color: white;
  background-color: #888;
}
.estado.pendiente {
  background-color: #888;
}
.estado.rechazada {
  background-color: rgb(172, 50, 50);
}
.estado.aceptada {
  background-color: rgb(31, 142, 31);
}
.estado.completada {
  background-color: rgb(26, 128, 187);
}

.container {
  position: relative;
  display: inline-block;
  width: 150px;
}

.logo {
  padding: 10px;
  color: #fff;
  cursor: pointer;
  display: grid;
  align-content: center;
  justify-content: center;
}

.ident {
  display: grid;
  align-content: center;
  margin: 0px 0px 0px 20px;
}

.link {
  color: rgb(16, 141, 224);
}

/* Estilo de la lista oculta */
.lista {
  position: absolute;
  top: 100%; /* Coloca la lista debajo del logotipo */
  left: 0;
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 10px;
  list-style: none;
  margin: 0;
  margin-top: 9px;
  width: 110px;
  display: none;
}

/* Estilo de los elementos de la lista */
.lista li {
  padding: 5px;
  cursor: pointer;
}
.lista .selected {
  background-color: white;
}
.lista .selected a {
  color: rgb(0, 128, 156);
}
/* Mostrar la lista al hacer clic en el logotipo */
.container.active .lista {
  z-index: 10;
  display: block;
}
/* Estilo para el modal */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-contenido {
  background-color: #fff;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 50%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  text-align: center;
  min-width: 390px;
}

.modal-contenido form {
  margin: 0px;
}
.modal-contenido form button {
  max-width: 350px;
}
.cerrar {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.cerrar:hover {
  color: black;
}
.abonar {
  display: grid;
  justify-content: center;
}
.sele {
  margin: auto;
}

@media (min-width: 500px) {
  .ordenar-inf{
    display: flex;
    align-items: center;
  }
  .container.active .lista {
    display: inline-flex;
  }
  .lista {
    padding: 10px;
    list-style: none;
    margin: 0;
    margin-top: 0px;
    margin-top: 9px;
    width: auto;
    display: inline-flex;
    align-content: center;
    background-color: transparent;
    border: none;
    position: relative;
    top: 0px;
  }
  .lista li {
    padding-inline: 10px;
    color: white;
    border-right: solid 1px white;
  }
  .lista li a {
    color: white;
  }
  .lista li a:hover {
    color: rgb(255, 221, 27);
  }
  nav .container {
    flex-direction: row;
    justify-content: space-between;
    display: inline-flex;
    width: 100%;
  }
  nav {
    overflow-x: scroll;
    margin: 0px;
  }
  .gg {
    display: flex;
  }
}
